# Ignore everything by default
*

# Allow specific directories
!PNG/
!PNG/*/
!SVG/
!SVG/*/

# Allow PNG and SVG images
!*.png
!*.svg

# Allow README
!README.md

# Allow this gitignore file
!.gitignore
